<div [@routerTransition]>
    <app-page-header [heading]="'Post a Review'" [icon]="'fa-edit'"></app-page-header>

<div class="control-fluid">
            <form role="form" (ngSubmit)="updateReview()" #f="ngForm">
                <fieldset class="form-group">
                 <div class="form-group">
                                                    <label>Selects a Semester</label>
                                                    <select class="form-control"
                                                    (change)="setSemester($event.target.value)"
                                                    >
<option></option>
                                                        <option *ngFor="let semester of Semesters">

                                                        {{semester.name}}</option>

                                                    </select>
                                                </div>
                 <div class="form-group">
                                    <label>Selects a Course</label>
                                    <select class="form-control"
                                    (change)="setCourse($event.target.value)"
                                    >
<option></option>
                                        <option *ngFor="let course of Courses"
                                        >{{course.name}}</option>


                                    </select>
                                </div>

                </fieldset>
                  <fieldset class="form-group">
                  <label>Title</label>
                                      <input class="form-control"
                                      type="text"
                                      name="title"
                                      ngModel
                                      required
                                      #title="ngModel"
                                      [(ngModel)]="Title">
                                      <span class="help-block" *ngIf="!title.valid && title.touched">
                                                       Please enter title! </span>
                                    <label>Description</label>
                                    <textarea class="form-control"
                                    type="text"
                                    name="description"
                                    ngModel
                                                                          required
                                                                           #descp="ngModel"
                                     [(ngModel)]="Description"
                                    rows="3"></textarea>
                                     <span class="help-block" *ngIf="!descp.valid && descp.touched">
                                                                                           Please enter description! </span>
                                </fieldset>


                <div class="form-group">
                    <label>Rate the Course</label>
                     <label class="radio-inline">
                                            <input type="radio" name="rating" (click)="setRate(0)">0
                                        </label>
                        <label class="radio-inline">
                                                               <input type="radio" name="rating"
                                                               (click)="setRate(1)">1
                                                           </label>
                        <label class="radio-inline">
                                                               <input type="radio" name="rating"
                                                               (click)="setRate(2)">2
                                                           </label>
                      <label class="radio-inline">
                                                             <input type="radio" (click)="setRate(3)" name="rating">3
                                                         </label>
                        <label class="radio-inline">
                                                               <input type="radio" (click)="setRate(4)" name="rating">4
                                                           </label>
                                          <label class="radio-inline">
                                                                                 <input type="radio"
                                                                                 (click)="setRate(5)"name="rating">5
                                                                             </label>
                </div>

                <button type="submit" class="btn btn-primary form-control"
                [disabled]="!f.valid">Submit</button>

            </form>

        </div>
        </div>




