<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Course List</div>
            <p> Please click to see the course details.</p>
            <div

            *ngFor="let course of courses">
            <div class="card-body" >
                <p>
                    <button *ngIf="course.name"  type="button" class="btn btn-outline-primary"
                    (click)="course.expand = !course.expand"
                        [attr.aria-expanded]="course.expand" aria-controls="collapseExample">
                        {{course.name}}
                    </button>
                </p>
                <div id="collapseExample" [ngbCollapse]="!course.expand">
                    <div class="card">
                        <div class="card-body">
                           <p> You can collapse this card by clicking the Course Name Button.</p>
                           <p>{{course.created}}</p>
                           <p>{{course.description}}</p>
                          <ngb-tabset>
                                              <ngb-tab title="instructor">
                                                  <ng-template ngbTabContent>
                                                      <p>{{course.instructor}}</p>
                                                  </ng-template>
                                              </ngb-tab>
                                            <ngb-tab title="Number">
                                   <ng-template ngbTabContent>
                        <p>{{course.number}}</p>
                 </ng-template>
             </ngb-tab>
             <ngb-tab title="Credit">
                                                               <ng-template ngbTabContent>
                                                                   <p>{{course.credit}}</p>
                                                               </ng-template>
                                                           </ngb-tab>
                      <ngb-tab title="Semester">
                                                                                    <ng-template ngbTabContent>
                                                                                        <p>{{course.semester}}</p>
                                                                                    </ng-template>

                                                                                </ngb-tab>
              <ngb-tab title="Reviews">
                <ng-template ngbTabContent>
                   <p>{{course.reviews}}</p>
                     </ng-template>
                </ngb-tab>
                                          </ngb-tabset>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>


