<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>


        <a class="list-group-item" (click)="clearSearchContent" [routerLink]="['/components']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-book"></i>&nbsp;{{ 'Courses' | translate }}
        </a>

        <a class="list-group-item" [routerLink]="['/handbook']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-clipboard"></i> {{ 'Semester' | translate }}
        </a>

        <a class="list-group-item" [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Posts' | translate }}
        </a>

        <a class="list-group-item" target="_blank" href="https://issuu.com/northeasternuniversity/docs/2016-2017_ug_handbook?e=2831976/36502597">
            <i class="fa fa-fw fa-clipboard"></i>&nbsp;{{ 'Handbook' | translate }}
        </a>

        <a class="list-group-item" target="_blank" href="https://github.com/orangeguo2/S-A-C/wiki">
            <i class="fa fa-fw fa-phone"></i>&nbsp;{{ 'Contact Us' | translate }}
        </a>

        <div class="header-fields">
            {{ 'Farsi' | translate }}-->

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>{{username}} </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="https://my.northeastern.edu/group/student">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://mail.google.com/mail/u/2/#inbox">
                                <span>
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

    </div>
</nav>