<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">" New Tax Regulation!"</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>"Taxpayers have either filed their 2017 income tax returns or are racing to meet the April 17 deadline for filing their return or an extension application as well as paying their tax. That means it's also time to start planning for your 2018 income tax return. The Trump tax reform law includes six key new rules that ..."</p>
                </div>
            </div>
        </li>
    </ul>
</div>
